<div style="background: white">
    <nz-table #tableProductos [nzData]="products" nzBordered="true" [nzLoading]="isLoading"
    nzSize="small" nzShowPagination="true">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Existencia</th>
                <th>Precio General</th>
                <th>Existencia Minima</th>
                <th>Existencia Maxima</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of tableProductos.data">
                <td>{{ data.nombre_producto }} {{ data.medicion }}</td>
                <td>{{ data.existencia }}</td>
                <td>${{ data.precio_semanal }}</td>
                <td>{{ data.existencia_min }} {{ data.medicion }}</td>
                <td>{{ data.existencia_max }} {{ data.medicion }}</td>
                <td style="text-align: center">
                    <button style="margin-right: 10px" class="btn btn-orange" (click)="openModalEdit(templateModalEquivalencia, data)"><i class="fa fa-calculator" aria-hidden="true"></i></button>                                       
                    <button style="margin-right: 10px" class="btn btn-success" (click)="openModalEdit(templateModalEdit, data)"><i class="fa fa-pencil" aria-hidden="true"></i></button>                    
                    <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>

<ng-template #templateModalEdit>

    <div class="modal-header background-header">
        <h4 class="modal-title pull-left" style="color: white">Editar Producto</h4>
        <button style="color: white" type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-8">
                        <label for="">Producto</label>
                        <input type="text" class="form-control" value="{{ productDataSelected.nombre_producto }}">
                    </div>
                    <div class="col-md-4">
                        <label for="">Existencia</label>
                        <input type="text" class="form-control" value="{{ productDataSelected.existencia }}">
                    </div>              
                </div>
            </div>
            
            <div class="row" style="margin-top: 20px">
                <div class="form-group">
    
                <div class="col-md-3">
                <label for="">Precio General</label>
                    <div class="input-group">                  
                        <input type="text" class="form-control" value="{{ productDataSelected.precio_general }}">
                            <span class="input-group-btn">
                                <button class="btn btn-orange" type="button" (click)="childPgeneral.show()"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                            </span>
                    </div>
                </div>                    

                <div class="col-md-3">
                <label for="">Existencia max.</label>
                        <input type="text" class="form-control">
                </div>
                <div class="col-md-3 ">
                    <label for="">Existencia min.</label>
                        <input type="text" class="form-control">
                </div>
                </div>
            </div>            
        </form>   
    </div>
  
    <div class="modal-footer">          
        <button type="button" class="btn btn-success pull-left">Guardar cambios</button>
        <button (click)="modalRef.hide()" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    </div>

    <div class="modal fade" bsModal #childPgeneral="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name2">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header background-header" >
                  <h4 id="dialog-nested-name2" class="modal-title pull-left" style="color: white">Precio General</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="childPgeneral.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                        <label for="">Precio General</label>
                            <div class="input-group">               
                                <input type="text" class="form-control" value="{{ productDataSelected.precio_general }}">                   
                            </div>
                        </div>
                        <div class="col-md-3">
                        <label for="">% porcentaje</label>
                            <div class="input-group">                  
                                <input type="text" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-orange" type="button" ><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                    </span>
                            </div>
                        </div>  
                        <div class="col-md-3">
                        <label for="">$ pesos</label>
                            <div class="input-group">                  
                                <input type="text" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-orange" type="button" ><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                    </span>
                            </div>
                        </div> 
                    </div>                 
                </div>              
                <div class="modal-footer">          
                    <button type="button" class="btn btn-success">Ok</button>
                    <button (click)="childPgeneral.hide()" type="button" class="btn btn-secondary pull-left" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" bsModal #childPSemanal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name2">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header background-header">
                    <h4 id="dialog-nested-name2" class="modal-title pull-left" style="color: white">Precio semanal</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="childPSemanal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                        <label for="">Precio Semanal</label>
                            <div class="input-group">               
                                <input type="text" class="form-control" value="{{ productDataSelected.precio_semanal }}">                   
                            </div>
                        </div>
                        <div class="col-md-3">
                        <label for="">% porcentaje</label>
                            <div class="input-group">                  
                                <input type="text" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-orange" type="button" ><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                    </span>
                            </div>
                        </div>  
                        <div class="col-md-3">
                        <label for="">$ pesos</label>
                            <div class="input-group">                  
                                <input type="text" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-orange" type="button" ><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                    </span>
                            </div>
                        </div> 
                    </div>  
                </div>
                <div class="modal-footer">          
                    <button type="button" class="btn btn-success">OK</button>
                    <button (click)="childPSemanal.hide()" type="button" class="btn btn-secondary pull-left" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div> 

</ng-template>

<ng-template #templateModalEquivalencia>

        <div class="modal-header background-header">
            <h4 class="modal-title pull-left" style="color: white">Equivalencia del Producto</h4>
            <button style="color: white" type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        <div class="modal-body">
            <form>
                          
            </form>   
        </div>
        
        <div class="modal-footer">          
            <button type="button" class="btn btn-success pull-left">Guardar cambios</button>
            <button (click)="modalRef.hide()" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>

</ng-template>