

.btn-orange{
    color: #fff;
    background-color: #ffab00; 
    border-color: #e9c13e;
}

.background-header {
    background: #008d4c;
}

.search-box {
    padding: 8px;
  }

  .search-box input {
    width: 188px;
    margin-bottom: 8px;
    display: block;
  }

  .search-box button {
    width: 90px;
  }

  .search-button {
    margin-right: 8px;
  }