<section class="content">

    <div class="row">
        <div class="col-md-4 col-xs-12">
          <mk-box-small header="{{ totalProducto }}" backgroundColor="aqua" headerColor="#FFFFFF" iconStyleClass="fa fa-product-hunt">
            <mk-box-small-content>Productos existentes</mk-box-small-content>
            <mk-box-small-footer>
              <a routerLink="/productos">Mas informacion <i class="fa fa-arrow-circle-right"></i></a>
            </mk-box-small-footer>
          </mk-box-small>
        </div>
        <div class="col-md-4 col-xs-12">
          <mk-box-small header="{{ totalCliente }}" backgroundColor="green" headerColor="#FFFFFF" iconStyleClass="fa fa-address-card">
            <mk-box-small-content>Clientes activos</mk-box-small-content>
            <mk-box-small-footer>
              <a routerLink="/clientes">Mas informacion <i class="fa fa-arrow-circle-right"></i></a>
            </mk-box-small-footer>
          </mk-box-small>
        </div>
        <div class="col-md-4 col-xs-12">
          <mk-box-small header="{{ totalUsuario }}" backgroundColor="yellow" headerColor="#FFFFFF" iconStyleClass="fa fa-user-o">
            <mk-box-small-content>Usuarios regitrados</mk-box-small-content>
            <mk-box-small-footer>
              <a routerLink="/usuarios">Mas informacion <i class="fa fa-arrow-circle-right"></i></a>
            </mk-box-small-footer>
          </mk-box-small>
        </div>
      </div>
    
    <!--
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <mk-box-small header="150" backgroundColor="aqua" headerColor="#FFFFFF" iconStyleClass="fa fa-users">
            <mk-box-small-content>Proveedores activos</mk-box-small-content>
            <mk-box-small-footer>
              <a routerLink="/proveedores">Mas informacion <i class="fa fa-arrow-circle-right"></i></a>
            </mk-box-small-footer>
          </mk-box-small>
        </div>
      </div>
    -->

</section>