.btn-primary-outline-add {    
    color: green;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.btn-primary-outline-edit {    
    color: #107dac;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.btn-primary-outline {    
    color: #107dac;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.btn-primary-outline:hover {
    color: red;
}

.btn-primary-outline-edit:hover {    
    color: rgb(243, 156, 18);
}