/* You can add global styles to this file, and also import other style files */
.cdk-global-scrollblock{
    position: static !important;
    width: initial !important;
    overflow-y: inherit !important;
  }